In [1]:
import pandas as pd
# import matplotlib.pyplot as plt
import numpy as np

# from sklearn import linear_model
# from sklearn.linear_model import LinearRegression
# from sklearn.pipeline import Pipeline
# from sklearn.preprocessing import PolynomialFeatures
from sklearn.naive_bayes import MultinomialNB
from sklearn.cross_validation import train_test_split

In [2]:
data = pd.read_csv("spambase.data", header = None)

In [3]:
type(data)

pandas.core.frame.DataFrame

In [4]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0,0.135,0.000,0.000,3.537,40,191,1

#### from documentation:
The last column #58 of 'spambase.data' denotes whether the e-mail was considered spam (1) or not (0)

In [5]:
# y = sleep_by_age.mean_minutes.values
y = data[57]
print(y.head())
print(y.tail())

0    1
1    1
2    1
3    1
4    1
Name: 57, dtype: int64
4596    0
4597    0
4598    0
4599    0
4600    0
Name: 57, dtype: int64

In [6]:
# X = sleep_by_age.index.values.reshape((-1, 1))
X = data.drop(57, 1)
X.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,0.00,0.64,0.64,0,0.32,0.00,0.00,0.00,0.00,0.00,...,0,0.00,0.000,0,0.778,0.000,0.000,3.756,61,278
1,0.21,0.28,0.50,0,0.14,0.28,0.21,0.07,0.00,0.94,...,0,0.00,0.132,0,0.372,0.180,0.048,5.114,101,1028
2,0.06,0.00,0.71,0,1.23,0.19,0.19,0.12,0.64,0.25,...,0,0.01,0.143,0,0.276,0.184,0.010,9.821,485,2259
3,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0,0.00,0.137,0,0.137,0.000,0.000,3.537,40,191
4,0.00,0.00,0.00,0,0.63,0.00,0.31,0.63,0.31,0.63,...,0,0.00,0.135,0,0.135,0.000,0.000,3.537,40,191

## 1st: split the data into training and testing sets

In [7]:
# the train_test_split function takes a big old set of data and splits it into
# training and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.4, random_state=99)

## 2nd: separate into spam/not spam and train on training data

In [8]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
classifier.fit(X_train, y_train)
classifier.score(X_train, y_train)

0.79275362318840581

## 3rd: Check results with test data

In [9]:
classifier.score(X_test, y_test)

0.77892449755567628